/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-weight: bold;
}

h3{
  font-weight: bold;
  margin: .5em;
  margin-bottom: 0;
  font-size: 1em;
}

header{
  padding: 1em 1em;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

header a{
  text-decoration: none;
  justify-self: center;
}


nav {
  order: -1;
}

nav img{
  position: relative;
  width: 5em;
  left: 0;
  
}

header a img:last-of-type {
  width: 10em;
  
}

nav ul, nav h2{
  margin: 0;
  margin-top: 3em;
  padding: 1em 0 0;
  background-color: black;
  list-style: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 50;
}

nav.toonMenu ul{
  transform: translateX(0);
}

nav li{
  margin: 0;
  margin-left: 1em;
  margin-top: .5em;
  padding: 0;

}

nav a{
  display: flex;
  align-items: center;
  gap: .25em;
  padding: .25em 1em;
  color: white;
}




main img{
  width: 1em;
  height: 1em;
}

header img{
  height: 2em;
  width: 2em;
}

li img{
  width: 2em;
  margin: .2em;
}




section{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  grid-gap: 0;
}

article{
  overflow: hidden;
  height: 100%;
}

/* hoveren over de afbeeldingen */

section article{
  transition: .5s;
}

section:hover article, section:focus article{
  background-color: lightgray;
  padding: 0;
}

section:hover article .hover, section:focus article .hover{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  align-content: center;
}

section:hover article .normaal, section:focus article .normaal{
  display: none;
}

.hover {
  display: none;
}




.normaal img{
  width: 100%;
  transition: .5s;
}

img.hover{
  top: 0;
  left: 0;
  display: none;
  
}  

.normaal:hover{
  display: none;
  padding: 0;
}

/*
img.hover:hover{
  display: contents;
}

*/

/* afbeeldingen over 2 kolommen plaatsen*/


article:nth-of-type(3){
  grid-column: span 2;
}

article:nth-of-type(8){
  grid-column: span 2;
}

article:nth-of-type(11){
  grid-column: span 2;
}

article:nth-of-type(2):hover{
  border: 1em solid white;
}

article img{
  width: 100%;
  height: 100%;
}



video{
  width: 100%;
  height: 100%;
}




footer{
  margin: 2em;
  margin-left: 2.5em;
}

footer img{
  width: 13em;;
  margin-bottom: 1em;
}

footer li img{
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}

footer p{
  margin-bottom: 1em;
}

/*
nav ul, nav h2{
  margin: 0;
  margin-top: 3em;
  padding: 1em 0 0;
  background-color: black;
  list-style: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 50;
}

*/

footer ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  list-style-type: none;
}

footer nav ul{
  padding: 0;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1.5em;
  position: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: unset;
  z-index: unset;
}

footer nav ul li{
  margin: .5em;
  margin-left: 0;
  
}

/*form vormgeving*/

input{
  color: white;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  padding: .5em;
  
}

input::placeholder{
  color: white;
}

