/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* algemene styling*/

body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

h1{
  font-size: 3em;
}

h2{
  font-weight: bold;
  font-size: 1.5em;
}

h3{
  font-weight: bold;
  margin: .5em;
  margin-bottom: 0;
  font-size: 1em;
}

section{
  margin-bottom: 2em;
}

section img{
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
}


/* header en navigatie*/

header{
  padding: 1em 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
}

header a{
  text-decoration: none;
  justify-self: center;
}

nav {
  order: -1;
}

header nav a img{
  position: relative;
  width: 5em;
  left: 0;
}

header img{
  height: 2em;
  width: 2em;
}

header a img:last-of-type {
  width: 10em;
}

header a img:last-of-type:hover{
  border: 2px solid white;
}

header a img:last-of-type:focus{
  outline: none;
  border: 2px solid white;
}

nav button{
  padding: 0;
  background-color: black;
  border: none;
}

nav button img{
  margin: .5em;
}

nav button:hover, nav button:focus{
  background-color: black;
  outline: none;

}

nav ul{
  margin: 0;
  margin-top: 4em;
  padding: 1em 0 0;
  background-color: black;
  list-style: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 50;
}

nav.toonMenu ul{
  transform: translateX(0);
}

nav form{
  display: flex;
  margin-left: 2em;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 50;
  position: fixed;
}

nav li{
  margin: 0;
  margin-left: 1em;
  margin-top: .8em;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
}

nav a{
  display: flex;
  align-items: center;
  gap: .25em;
  padding: .25em 1em;
  color: white;
}

nav a:hover, nav a:focus{
  outline: none;
  border: 2px solid white;
}

nav a:active{
  color: lightgray;
}




/*section video*/

section.video{
  margin: 0;
  padding: 0;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
  pointer-events: none;
}

/* video */

iframe{
  margin-top: 0;
  border: none;
  position: absolute;
  height: 120%;
  width: 120%;
  margin-left: -10%;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
}





/*homepagina fotogrid*/

section.homepagina{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  grid-gap: 0;
}

article{
  overflow: hidden;
  height: 100%;
  display: flex;
}

article img{
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}


/* afbeeldingen over 2 kolommen plaatsen*/

article:nth-of-type(3){
  grid-column: span 2;
}

article:nth-of-type(8){
  grid-column: span 2;
}

article:nth-of-type(11){
  grid-column: span 2;
}


/* hoveren over de afbeeldingen */

section article{
  transition: .5s;
  font-size: 1em;
}

section article:hover, section article:focus{
  background-color: lightgray;
  padding: 0;
}

section article:hover .hover, section article:focus .hover{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  color: black;
}

section article:hover .normaal, section article:focus .normaal{
  display: none;
}

.hover {
  display: none;
}

/*voor het hoveren over foto's voor een andere foto*/
.normaal img{
  width: 100%;
  transition: .5s;
}

img.hover{
  top: 0;
  left: 0;
  display: none;
  margin: 0;
}  

.normaal:hover{
  display: none;
  padding: 0;
}

article ul{
  width: 100%;
  position: relative;
}

/* de zwarte randjes tussen de fotos weghalen*/
article ul li.normaal{
  height: 100%;
}

article:nth-of-type(8) ul li.hover{
  height: 100%;
}

/*linkjes in de hover stylen*/

section.actions a:first-of-type{
  position: absolute;
  bottom:0;
  left:0;
  margin: .5em;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

section.actions a:last-of-type{
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  margin: .5em;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

/*de teksten als je over de afbeelding hovert*/

section.producttitel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section.actions{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/*section pleasing pagina*/

section.pleasingpen{
  padding: 2em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

main section.pleasingpen > img{
  width: 100vw;
  margin-left: -2em;
}

/*section aanmelden voor nieuwsbrief op pleasing pagina*/

section.aanmelden{
  border: .2em solid white;
}

section.aanmelden p, section.aanmelden form{
  padding: .5em;
  font-weight: normal;
}


/*section product informatie pleasing pagina*/

section.productinfo{
  margin-bottom: 0;
}


section.productinfo p:first-of-type{
  font-weight: bold;
  margin-bottom: .4em;
}

section.productinfo p:last-of-type{
  font-size: 1.4em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
}

section.productkopen{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.productkopen ul{
  margin-left: 1em;
  margin-top: 1em;
}


/*aantal producten kiezen */
select{
  background-color: white;
  border: 3px solid white;
  padding: .7em 1.5em;
  flex-grow: 1;
  font-size: 1em;
}

select:hover, select:focus{
  background-color: lightgrey;
  border: 3px solid gold;
  outline: none;
}

button{
  background-color: white;
  border: 3px solid white;
  padding: .7em 1.5em;
  
  flex-grow: 2;
  width: fit-content;
  margin-left: .5em;
  font-size: 1em;
  font-weight: bold;
}

/*buy now knop*/
button:nth-of-type(2){
  width: 100%;
  border: 3px solid white;
  background-color: #30343b;
  color: white;
  margin-left: 0;
  margin-top: .5em;
}

button:hover{
  background-color: grey;
  cursor: pointer;
}

button:focus{
  border: 3px solid gold;
  background-color: grey;
  outline: none;
}

/*uitklapbare teksten*/
details{
  margin-bottom: 1em;
  font-weight: bold;
  
  border-bottom: 1px solid white;
}

summary{
  margin-bottom: .4em;
}

summary:hover, summary:focus{
  text-decoration: underline 2px;
  outline: none;
}

summary:active{
  color: lightgrey;
}

details p{
  font-weight: normal;
  margin-top: .5em;
  margin-bottom: 1em;
} 

/* De eerste afbeelding onderin weghalen*/
section.imagespleasingpen img:first-of-type{
  display: none;
}


/*form vormgeving*/

input{
  color: white;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  padding: .5em;
  font-size: 1em;
}

input#email{
  width: 80%;
} 

input::placeholder{
  color: white;
}

input:hover, input:focus{
  border: 1px solid white;
  outline: none;
  background-color: darkgray;
}

input:active{
  background-color: white;
  color: black;
}

input:active::placeholder{
  color: black;
}


/*footer*/

footer{
  margin: 2em;
  margin-left: 2.5em;
  display: flex;
  flex-direction: column;
}

footer img{
  width: 13em;;
  margin-bottom: 2em;
}

footer li img{
  width: 1.7em;
  height: 1.7em;
  padding: .2em;
  margin: .5em;
}

footer li img:hover, footer li img:focus{
  background-color: grey;
  border-radius: 20%;
  cursor: pointer;
}

footer li img:active{
  border: 2px solid gold;
}

footer p{
  margin-bottom: 1em;
  font-size: 1em;
}

footer ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  list-style-type: none;
}

footer nav{
  order: 0;
}

footer nav ul{
  padding: 0;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1.5em;
  position: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: unset;
  z-index: unset;
  
}

footer nav ul li{
  margin: .5em;
  margin-left: 0;
  font-weight: normal;
}

footer nav ul li a{
  text-decoration: none;
  font-size: 1em;
  padding: 0;
}

footer li a:hover, footer li a:focus{
  text-decoration: underline;
  cursor: pointer;
}

footer li a:active{
  color: gold;
}

@media (max-width: 424px){
  input#email{
    width: 70%;
  }
}


@media (min-width: 700px){
  
  header{
    height: 6em;
  }

  header button{
    margin: 1em;
  }

  header img{
    margin: 1em;
  }

  main.pleasingpenpagina{
    display: flex;
    flex-direction: row-reverse;
  }

  section.pleasingpen{
    max-width: 450px;
  }

  main section.pleasingpen > img{
    display: none;
  
  }
  main.pleasingpenpagina section:last-of-type img:first-of-type{
    display: block;
  }

  main section.pleasingpen{
  
    padding-top: 2em;
  }

  main section:last-of-type{
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px){
  header img{
    margin: 2em;
  }

  header button{
    margin: 2em;
  }

  section.homepagina{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section.pleasingpen{
    margin: 2em;
    margin-right: 5em;
  }

  h2{
    font-size: 1.8em;
  }

  h3, summary{
    font-size: 1.3em;
  }

 
  p, footer p, li, a, input{
    font-size: 1.2em;
  }

  input#email{
    width: 75%
  }

  footer{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    padding-top: 0;
    
  }

  footer section:first-of-type{
    margin-bottom: 185px;
  }

  footer section:nth-of-type(2){
    margin-left: 80px;
  }

  footer section:last-of-type{
    width: 350px;
    margin-left: auto;
    margin-top: 50px;
  }
}